body {
    background-image: url('Foto_Paisagem_Porto_do_Itaqui.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
}

/*Criar uma sobreposição semitransparente sobre a imagem de fundo*/
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.6); /* Cor de fundo com transparência (neste caso, branco com 50% de opacidade) */
    z-index: -1; /* Coloca o pseudo-elemento atrás do conteúdo da página */
}


h1 {
    color: #001638;
    margin-top: 50px; /* Espaço acima do título */
    margin-bottom: 30px; /* Espaço abaixo do título */
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 36px;
    font-weight: bold;
    color: #333; /* Cor do texto */
    text-transform: uppercase; /* Transforma o texto em maiúsculas */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Sombra no texto */
    letter-spacing: 2px; /* Espaçamento entre as letras */
}

p {
    font-family: Arial, sans-serif;
    font-size: 22px;
    color: #666; /* Cor do texto */
    text-align: center; /* Centralizar o texto */
    margin-bottom: 20px; /* Espaço abaixo do parágrafo */
    line-height: 1.5; /* Espaçamento entre linhas */
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label,
input,
button {
    margin-bottom: 10px;
}


.chatbot-results {
    margin-top: 20px; /* Espaço entre o formulário e a resposta do chatbot */
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    
}

/* Aumentar o tamanho da caixa de entrada de texto */
#user_input {
    width: 80%; /* Defina a largura desejada em porcentagem ou em pixels */
    padding: 10px; /* Adicione um preenchimento interno para melhorar a aparência */
    border-radius: 10px; /* Arredonde as bordas da caixa de entrada */
    border: 1px solid #ccc; /* Adicione uma borda para separar visualmente a caixa de entrada */
    font-size: 16px; /* Defina o tamanho da fonte para melhor legibilidade */
}

/* Personalizar o botão de enviar */
button[type="submit"] {
    width: 30%; /* Defina a largura desejada em porcentagem ou em pixels */
    padding: 12px; /* Adicione um preenchimento interno para melhorar a aparência */
    border-radius: 10px; /* Arredonde as bordas do botão */
    border: none; /* Remova a borda padrão do botão */
    background-color: #033580; /* Cor de fundo do botão */
    color: white; /* Cor do texto do botão */
    font-size: 16px; /* Tamanho da fonte do texto do botão */
    cursor: pointer; /* Altere o cursor ao passar o mouse sobre o botão */
    transition: background-color 0.3s ease; /* Adicione uma transição suave à cor de fundo */
}

/* Altere a cor de fundo ao passar o mouse sobre o botão */
button[type="submit"]:hover {
    background-color: #45a049;
}

.footer-content p {
    font-size: 15px;
    padding: 10px;
    /*opacity: 0.2;*/
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    max-width: 100%; /* Largura máxima do rodapé */
    max-height: 100px; /* Altura máxima do rodapé */
    margin: 0 auto; /* Centralizar o rodapé na página */
    position: fixed; /* Fixar o rodapé no final da janela */
    bottom: 0; /* Posicionar o rodapé na parte inferior */
}

/* Estilos adicionais para tornar o rodapé responsivo */
@media (max-width: 768px) {
    .footer-content {
        font-size: 10px; /* Reduzir o tamanho da fonte para telas menores */
    }
}



